@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithShowcase.cshtml";
	
}

@await Html.PartialAsync("_BrandSection")

@await Html.PartialAsync("_ServiceFeaturesSection" ,Model)

@await Html.PartialAsync("_OurServicesSection" ,Model)



<!--ABOUT-SECTION-->
<section class="about-section">
    <div class="container">
        <div class="image-column">
            <img src="images/images/daria-pimkina-Dj5HnHMtkH0-unsplash.jpg" alt="">
            <div class="image-quote">
                <h4>Samantha Brown, <span>Founder</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="content-column">
            <div class="section-title">About Company</div>
            <h2>We Are Business Consulting & Credit Repair Experts</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

            <div
            class="about-links">
            <a class="btn-dark" href="about.html">Learn More<i class="fa-solid fa-arrow-up-right"></i></a>
            <a class="btn-white-play" href="introvideo.html"><i class="fa-regular fa-circle-play mr-2"></i></a>
            </div>
        </div>
    </div>
</section>