@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}
<!--ARTICLE_SECTION-->
<section class="article-section">
    <div class="container">
        <div class="section-title">Article & News</div>
        <div class="browse-news">
            <h2>Get Every Single Article & News</h2>
            <a class="btn-outline-dark" href="#">Browse Articles<i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
        <div class="articles">
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">13</div>
                    <div class="month"></div>
                </div>
                <img src="images/images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                <p class="category">Business</p>
                <H5>How To Use Digitalization In The Classroom</H5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus impedit, ea dicta blanditiis itaque quod, inventore dolorem eligendi architecto quidem vel similique officiis? Praesentium quae velit nostrum veniam non.</p>
            </a>
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">13</div>
                    <div class="month">Mar</div>
                </div>
                <img src="images/images/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="">
                <p class="category">Business</p>
                <h5>How To Implement Chat GPT In Your Projects</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae hic cumque et expedita quas magni. Sit debitis nesciunt consequuntur deleniti nemo porro repellendus fuga repellat fugiat dicta? Eaque, adipisci inventore.</p>
            </a>
            <a href="#" class="article">
                <div class="article-date">
                    <div class="day">13</div>
                    <div class="month">Mar</div>
                </div>
                <img src="images/images/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="">
                <p class="category">Business</p>
                <h5>The Guide To Support Modern CSS Design</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nemo fugiat adipisci repellat recusandae laboriosam officia odit sequi quae cum consequatur, eos facilis? Nihil eveniet quam enim veniam qui tempore!</p>
            </a>
        </div>
        <div class="dot-circles">
            <div class="dot-circle active"></div>
            <div class="dot-circle"></div>
            <div class="dot-circle"></div>
            <div class="dot-circle"></div>
            <div class="dot-circle"></div>   
        </div>
    </div>
</section>